@use 'colors';

article {
    div.counts {
        color        : white;
        border-radius: 1rem;
        padding      : 1rem;
        background   : linear-gradient(
            135deg,
            #0055F9 0%,
            #6AB8FF 100%
        );

        $hex_size     : 10rem;
        padding-bottom: calc( $hex_size / 2 );
        margin-bottom : calc( $hex_size / 2 + 4rem );
        margin-top    : 4rem;

        div.hexes {
            text-align   : center;
            margin-bottom: calc( $hex_size * -1 - 0.5rem );

            div {
                display         : inline-block;
                width           : $hex_size;
                height          : calc( $hex_size * 1.1 );
                background-image: url( svg/hex.svg );
                background-size : $hex_size;
                color           : colors.$dark_text;

                span {
                    margin-top   : 3.5rem;
                    margin-bottom: 0.25em;
                    display      : block;
                    font-size    : 2rem;
                    font-weight  : 700;
                }
            }
        }
    }
}
