@use 'colors';

article {
    div.white {
        background-color: colors.$background;
        border-radius   : 1rem;
        text-align      : center;
        padding: 1rem;

        div.flex_container {
            display        : flex;
            flex-flow      : row wrap;
            justify-content: space-evenly;

            div.flex_item {
                flex: 0 1 auto;
                width : 270px;
                padding: 1rem;
            }
        }
    }
}
