[%
    region_acronym = ( req_info.region ) ? req_info.region.key : 'CBQ';
    region_acronym = region_acronym | upper;

    page.title = region_acronym _ ' People List';
%]

<h1>[% page.title %]</h1>

[% PROCESS user_list.html.tt, users %]
