[%
    PROCESS macros;
    page.title = 'User Tools';
%]

<h1>[% page.title %]</h1>

<p>
    <a class="button colored" href="[% c.url_for( path_part_prefix _ '/user/edit' ) %]"
        >Edit My User Account Data</a>
</p>

[% UNLESS req_info.region %]
    <p>
        <a href="[% c.url_for('/meeting/list') %]">Meetings List</a>
    </p>
[% END %]

<p>
    <a href="[% c.url_for( path_part_prefix _ '/user/list' ) %]">Users List</a>
</p>
