---
preinclude: ../../omniframe/config/app.yaml
default:
    omniframe: ../../omniframe
    libs     : ../../omniframe/lib
    mojo_app_lib: CBQ::Control
    mojolicious:
        secrets:
            - gd824qfOpPOF6qUWya0QT0nU9U82JKVu
        session:
            cookie_name: cbq_site_session
        linda:
            watch:
                - app.psgi
                - config/app.yaml
                - config/assets
                - lib
                - static/js
                - templates
                - ../../omniframe
    template:
        email:
            include_path:
                - templates/emails
                - templates/components
    bcrypt:
        salt: 54XYZdnG4FjvcTJD
    crypt:
        pass: 4FjvcTJD54XYZdnG
        salt: 56789a01234
    docs:
        dir       : docs
        home_type : md
        home_title: Christian Bible Quizzing
        home_name : CBQ Home
    # iq_rss: ../iq/iq.rss
    email:
        from: Christian Bible Quizzing <q@cbqz.org>
    captcha:
        ttf: static/externals/google_fonts/fonts/poppins/poppins-v*-latin_latin-ext-700.ttf
        x  : 15
    min_passwd_length: 8
    token_expiration : 86400 # 1 day
    regional_cms:
        path_suffix : ../regions
        settings    : config
        nav_position: 4
    redirects:
        /slack  : https://join.slack.com/t/biblequizzing/shared_invite/zt-dkkz0wlh-x3~NlagTgtdvT3m2jh~dig
        /rules  : /CBQ_system/rule_book.md
        /ioc    : /_ioc_2025.md
        /ioc2025: /_ioc_2025.md
    roles:
        - Quizzer
        - Coach
        - Parent
        - Official
        - Regional Board
        - Pastor
        - Volunteer
        - Spectator
    registration:
        deadline: 14
        reminder: 7
        roles:
            - Coach
            - Parent
            - Official
            - Volunteer
            - Spectator
        bibles:
            - AKJV
            - AMP
            - BSB
            - ESV
            - HCSB
            - HWP
            - KJ21
            - KJV
            - NASB
            - NASB5
            - NIV
            - NIV84
            - NKJV
            - NLT
            - NRSVA
            - RSV
    order_lms:
        components  :
          - name    : Main Console Box
            default : 1
            cost_per: 30
          - name    : USB Power Cord
            default : 1
            cost_per: 2
          - name    : Junction Box
            default : 3
            cost_per: 2
          - name    : Network Cord, Standard
            default : 3
            cost_per: 4
          - name    : Network Cord, "Exodus"
            default : 0
            cost_per: 12
          - name    : Trigger, Handheld
            default : 10
            cost_per: 3
          - name    : Telephone Cord
            default : 10
            cost_per: 1
        shipping    : 9
        shipped_from: Corvallis, Oregon
        email:
            - Christian Bible Quizzing <q@cbqz.org>
tauntaun:
    database:
        pragmas:
            journal_mode: DELETE
            synchronous : FULL
        log:
            all: local/app.sql
optional_include: local/config.yaml
