@use 'colors';

div.current_next_meet {
    background-color: colors.$background;
    border          : 1px solid colors.$lines;
    padding         : 0 1.25em;
    border-radius   : 0.4em;
    width           : fit-content;
}

div.box {
    background-color: colors.$background;
    border          : 1px solid colors.$lines;
    padding         : 0.5em;
    border-radius   : 0.5em;
    width           : fit-content;

    p:first-of-type {
        margin-top: 0;
    }

    p:last-of-type {
        margin-bottom: 0;
    }
}

.hidden {
    display: none;
}

form.rules_change {
    label {
        margin-bottom: 1em;
    }

    textarea {
        width : calc( 100% - 1em );
        height: 10em;
    }
}

div#order_lms {
    td.input {
        padding: 0;

        input[type="number"] {
            width: 3em;
        }

        input[type="number"]::-webkit-inner-spin-button,
        input[type="number"]::-webkit-outer-spin-button {
            margin-left: 0.25em;
            opacity: 1;
        }
    }
}

img.border {
    border: 1px solid colors.$lines;
}

@media (min-width: 500px) {
    div.user_list {
        table {
            td:first-child {
                white-space: nowrap;
            }
        }
    }
}

p.legacy_meet_data {
    margin     : -1em 0 2em 3em;
    font-style : italic;
    font-size  : 0.75em;
    line-height: 1em;
}
