[% page.title = title %]

<img class="page_photo" src="[% c.url_for( photos.shift ) %]">

[% html %]

<div class="gallery">
    <img src="[% c.url_for( photos.shift ) %]">
    <img src="[% c.url_for( photos.shift ) %]">
    <img src="[% c.url_for( photos.shift ) %]">
</div>
