[%
    page.title  = title;
    hide_photos = html.match('docs:hide_photos');
%]

[% UNLESS hide_photos %]
    <img class="page_photo" src="[% c.url_for( photos.shift ) %]">
[% END %]

[% html %]

[% UNLESS hide_photos %]
    <div class="gallery">
        <img src="[% c.url_for( photos.shift ) %]">
        <img src="[% c.url_for( photos.shift ) %]">
        <img src="[% c.url_for( photos.shift ) %]">
    </div>
[% END %]
